body{
font-family:Arial, Helvetica, sans-serif;

    
}
#nav{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
#navsign{
    position: relative;
    margin-right: 70px;
}
#nav{
    margin-left: 60px;
}
#navsign>a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(126, 123, 123);
    font-family: Roboto-Regular;

}
#shoppingcart1{
    color:#FF7043;
    font-size : 20px;
   font-family: Roboto-Medium;
   
   
}
#shoppingcartdiv2{
    display: flex;
    column-gap: 6px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width:170px;
    position: relative;
    border-top: 4px solid #FF7043;
   padding-left: 12px;

}
#mainshoppingcartnav{
    display: flex;
    column-gap: 22px;
    position: relative;
   padding-left: 120px;
   padding-top: 20px;
}
#availableimage{
    height:14px;
    padding-left: 40px;
    padding-top: 17px;
}
#avaliableoffer{
    display:flex;
    column-gap: 5px;
    position: relative;
    left: -20px;
}
#ul{
    position: relative;
    top: -25px;
    font-size: 13px;
    color: rgb(168, 157, 157);
   
   
}
#ul>li{
    padding-top: 3px;
}
#mainavailable{
    background-color: #FFFFFF;
   
    position: relative;
    padding-right: 50px;
    top: 30px;
    margin-left: 50px;
    width: fit-content;
    border: 1px solid rgb(196, 186, 186);
  
}
#avlbutton{
    border:none;
    color:#FF7043;
    font-size: 12px;

}
#avlbtnp{
    height: 8px;
    padding-top: 5px;
    cursor: pointer;
   }
   #avlbtndiv{
    padding-top: 5px;
   }
   #main2avilable{
   height: 400px;
   margin-left: 120px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   width: 800px;
   
   }
  #shoppingcart2{
    border: 2px solid blue;
    margin-left: 120px;

  }
  #maindivmap{
    padding-top:10px;
    border-bottom:0.5px solid rgb(236, 220, 220);
    width:fit-content;
    font-size: 14px;
    padding-left: 50px;
    color:#353030;
    
  }
 