body{
    margin: 0;
    padding: 0;
}
#searchbar{
    width: 350px;
    height: 35px;
    padding-left: 20px;
   position: relative;
    margin-top:5px ;
    margin-left: 8px;
    border-radius: 6px;
   border-color: red;
    border: 0.3px solid rgb(233, 223, 223);
 
}
input:focus{
    outline: none;
}

#firstcryimage{
    margin-left: 45px;
    margin-top: 5px;
}
#nav{
    display: flex;
}
#magnifying{
    margin-top: 15px;
    position: relative;
    right: 30px;
    z-index: 1;
    color: orange;
}
nav{
    display: flex;
    
}
#nav1{
    margin-left: 70px;
    margin-top: -8px;
   
    
}
#in_nav1 p{
    font-size: 14px;
    font-weight: 0.03px;
    color: rgb(114, 109, 109);
    margin-top: -8px;
    margin-left: 8px;


}
#in_nav1{
   display: flex;
   margin-top: 26px;
   position: relative;
}
#location{
   
    margin-top: 10px;
    position: relative;
}
.afternav{
    width: 100%;
    height: 55px;
    background-color: #FFD91C;
    margin-top: -2px;
    display: flex;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

     
}
.afternav .all1{
    padding-left: 14px;
    padding-right: 8px;
    padding-top: 5px;
    color: rgb(110, 90, 90);

    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 600;
    position: relative;
   
   
}
.afternav :hover{
    background-color: aliceblue;
    
   
  
  
}
#clubimage{
    margin-top: 14px;
    margin-left: 11px;
    /* border: 2px solid red; */
}
.Carter{
    background-color:#019FDE;
    margin-left: 10px;
    color: white;
   
    padding-top: 12px;

}
.all{
    padding-left: 60px;
    color: rgb(110, 90, 90);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 600;
    padding-top: 5px;
}
#home{
    border:2px solid red;
}
#maindiv{
    display:flex;
}
#magnifying{
    margin-top: 10px;
    position: relative;
    right: 200px;
    z-index: 1;
    color: black;
}
#searchbar{
    width: 130px;
    height: 25px;
    padding-right: 50px;
   position: relative;
    margin-top:2px ;
    margin-left: 0px;
    border-radius: 6px;
   border-color: red;
    border: 0.3px solid rgb(233, 223, 223);
 
}
#input{
   margin-top: 9px;
}
#searchbar1{
    width: 350px;
    height: 35px;
    padding-left: 20px;
   position: relative;
    margin-top:5px ;
    margin-left: 8px;
    border-radius: 6px;
   border-color: red;
    border: 0.3px solid rgb(233, 223, 223);
 
}
#magnifying1{
    margin-top: 15px;
    position: relative;
    right: 30px;
    z-index: 1;
    color: orange;
}

form{
    border-bottom:0.1px solid rgb(240, 232, 232);
    width:200px;
    padding-bottom: 20px;
}

#productBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid blue;
}

#filter1{
    border:2px solid green;
    margin-top: 100px;
}
#mainfilterbox{
    display:flex;
    margin-top: 150px;
}
#pincodebox{
    display:flex; 
    font-size: 13.5px;
}
#pincode{
    color:blue; 
    margin-left: 4px;
}
#filterbtn{
    width:200px; 
    height:40px;
    border:1px solid rgb(223, 218, 218);
     border-radius: 1px;
      padding-right: 110px;
}
#clear{
    text-decoration:underline; 
    margin-left: 120px;
}
#productbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 250px;
    margin-bottom: 200px;
}
#filterbox{
    margin-left: 30px;
   height:300px;
    position: fixed;
   
    overflow: scroll;
}
#maindivcss{
    margin-left:50px;
    padding-top :90px;
   

}
#sortfilter > select{
    border:none;
    outline: none;

}




    


    
    



