.input{
    border: none;
    border-bottom: 0.1px solid rgb(207, 203, 203);
    width: 300px;
    outline: none;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#p{
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 90, 90);
}
#p1{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -9px;
    color: rgb(51, 51, 51);

}
#button{
    background-color:rgb(255,112,67); 
    color:white;
    border:none; 
     width:300px;
     border-radius: 4px;
     text-align: center;
     height:40px;
     margin-top: 15px;
     font-size: 15px; 
     font-weight: 600;
}

